@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>

<body>
    <h1>Hello World!</h1>
    @foreach(var curItem in Model.Value<List<KeyValuePair<string, string>>>("keyValuePairsTest"))
    {
        <p>@curItem.Key - @curItem.Value</p>
    }
</body>
</html>
