<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f917b66c-6cc9-441d-bbe2-cde2f4963592" Alias="Home Page - Another key value pairs test - Umbraco Community Key Values Property Editor Property Editor" Level="1">
  <Info>
    <Name>Home Page - Another key value pairs test - Umbraco Community Key Values Property Editor Property Editor</Name>
    <EditorAlias>Umbraco.Plain.Json</EditorAlias>
    <EditorUIAlias>Umbraco.Community.KeyValuesPropertyEditor.PropertyEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "uniquekeys": true
}]]></Config>
</DataType>