<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b028500-98c8-4a72-843d-a0a366868944" Alias="Key Value Pairs" Level="1">
  <Info>
    <Name>Key Value Pairs</Name>
    <EditorAlias>Umbraco.Plain.Json</EditorAlias>
    <EditorUIAlias>Umbraco.Community.KeyValuesPropertyEditor.PropertyEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>