<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d6d42c32-fe53-4489-bf73-5e5163cf07f8" Alias="List Items - Key Values" Level="1">
  <Info>
    <Name>List Items - Key Values</Name>
    <EditorAlias>Umbraco.Plain.Json</EditorAlias>
    <EditorUIAlias>Umbraco.Community.KeyValuesPropertyEditor.PropertyEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "uniquekeys": true
}]]></Config>
</DataType>