<?xml version="1.0" encoding="utf-8"?>
<Content Key="0943e62e-a10f-431d-b081-8f74d35894cd" Alias="Test Pgae" Level="2">
  <Info>
    <Parent Key="d25a51a2-6272-473a-9a1e-f97408003ae6">Home</Parent>
    <Path>/Home/TestPgae</Path>
    <Trashed>false</Trashed>
    <ContentType>generalPage</ContentType>
    <CreateDate>2025-04-03T17:32:12</CreateDate>
    <NodeName Default="Test Pgae" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="62720965-c0eb-4011-8918-e8227227de83">generalPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003Esomething amazing...\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </bodyText>
    <title>
      <Value><![CDATA[Here's a title]]></Value>
    </title>
  </Properties>
</Content>